/* =================================
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h2,
h3,
a {
	color: #093a58;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.25em;
	margin: 0;
}

.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}

.main-nav a {
	font-size: .95em;
	color: #3acec2;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: #093a58;
}

.name,
.main-nav,
.banner,
.col {
	text-align: center;
}

.name,
.main-nav li {
	text-align: center;
	background: #fff;
	margin-top: 6px;
	margin-bottom: 6px;
}


/* ---- Layout Containers ---- */

.container {
	padding-left: 1em;
	padding-right: 1em;
}

.main-header {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

.banner {
	color: #fff;
	background: #3acec2;
	padding-top: 2em;
	padding-bottom: 2em;
}

.col {
	text-align: left;
	padding: 15px;
}

.main-footer {
	background: #d9e4ea;
	padding: 2em 0;
	margin-top: 30px;
	text-align: center;
}
 .content {
	 padding-top: 1em;
	 padding-bottom: 1em;
 }

/* ---- Page Elements ---- */

.logo {
	width: 190px;
}

.headline {
	margin-bottom: 0;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {

	.main-nav {
		float: right;
	}

	.main-nav li {
		display: inline-block;
	margin-left: 24px;
}

	.name {
		float: left;
	}

	.banner {
		margin-bottom: 1em;
	}

	.container {
		width: 90%;
		margin: 0 auto;
	}

	.col {
		float: left;
	}

	.primary {
		width: 55%;
	}

	.secondary {
		width: 45%;
	}


	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}

@media (min-width:1050px) {

	.container{
		width: 80%;
		max-width: 1150px;
	}

	.primary {
		float: left;
		width: 40%;
	}

	.secondary,
	.tertiary {
		width: 30%;
	}

}
